*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to left, #0cba09, #1dad4f);
  font-weight: 600;
}

header{
  color: #f5f5f5;
  text-align: center;
  margin: 40px 0px;
}

section{
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 15px;
  width: 50%;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.576);
}

div{
  padding: 15px;
}

p{
  margin: 15px 0px;
}


footer{
  color: #f5f5f5;
  text-align: center;
  font-style: italic;
  margin: 40px 0px;
}

img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: 30px;
}

